# Inferential statistics
## Part III - Inferential Analysis

We're now going to look for answers to the ongoing basketball discussions between you and your family. The main ones we want to reasearch are the following:

- Your grandmother says that your sister couldn't play in a professional basketball league (not only the WNBA, but ANY professional basketball league) because she's too skinny and lacks muscle.
- Your sister says that most female professional players fail their free throws.
- Your brother-in-law heard on the TV that the average assists among NBA (male) and WNBA (female) players is 52 for the 2016-2017 season. He is convinced this average would be higher if we only considered the players from the WNBA.

Let's investigate these claims and see if we can find proof to refute or support them.

### Libraries
Import the necessary libraries first.

In [9]:
# Libraries
import math
import pandas as pd
import numpy as np
from scipy import stats
import matplotlib.pyplot as plt
import scipy.stats as st
from scipy.stats import ttest_1samp
pd.set_option('max_columns', 50)

### Load the dataset

Load the cleaned dataset.

In [2]:
#your code here

wnba= pd.read_csv(r"C:\Users\crocs\OneDrive - Universidade de Lisboa\Ambiente de Trabalho\Gonçalo\College&Courses\Data Analytics- IronHack\Course Data Analytics\Labs\Week5\M2-mini-project2\your-code\wnba_clean.csv")
wnba.head(5)

,Unnamed: 0,Name,Team,Pos,Height,Weight,BMI,Birth_Place,Birthdate,Age,College,Experience,Games Played,MIN,FGM,FGA,FG%,3PM,3PA,3P%,FTM,FTA,FT%,OREB,DREB,REB,AST,STL,BLK,TO,PTS,DD2,TD3
0,0,Aerial Powers,DAL,F,183,71.0,21.200991,US,"January 17, 1994",23,Michigan State,2,8,173,30,85,35.3,12,32,37.5,21,26,80.8,6,22,28,12,3,6,12,93,0,0
1,1,Alana Beard,LA,G/F,185,73.0,21.329438,US,"May 14, 1982",35,Duke,12,30,947,90,177,50.8,5,18,27.8,32,41,78.0,19,82,101,72,63,13,40,217,0,0
2,2,Alex Bentley,CON,G,170,69.0,23.875433,US,"October 27, 1990",26,Penn State,4,26,617,82,218,37.6,19,64,29.7,35,42,83.3,4,36,40,78,22,3,24,218,0,0
3,3,Alex Montgomery,SAN,G/F,185,84.0,24.543462,US,"December 11, 1988",28,Georgia Tech,6,31,721,75,195,38.5,21,68,30.9,17,21,81.0,35,134,169,65,20,10,38,188,2,0
4,4,Alexis Jones,MIN,G,175,78.0,25.469388,US,"August 5, 1994",23,Baylor,R,24,137,16,50,32.0,7,20,35.0,11,12,91.7,3,9,12,12,7,0,14,50,0,0

# Question 1: Can my sister play in a professional female basketball league?

As we said, you grandmother is convinced that your sister couldn't play in a professional league because of her physique and weight (her weight is 67kg). 

To find an actual answer to the question we first need to know what's the average weight of a professional female basketball player. The data we have only refers to the WNBA league and not to every female professional basketball league in the world, therefore we have no way of actually calculating it.

Still, given that we do have *some* data we can **infer** it using a sample of players like the one we have. 

**How would you do it? Try and think about the requirements that your sample must satisfy in order to be used to infer the average weight. Do you feel it actually fulfills those requirements? Do you need to make any assumptions? We could calculate a confidence interval to do the inference, but do you know any other ways?**

In [6]:
# your answer here


#extra notes:
print(wnba["Weight"].min())
print(wnba["Weight"].max())
wnba[wnba["Weight"] == wnba["Weight"].min()]

#Just to check we can see that there's a player called Moriah Jefferson which is 168 cm and as a weight of 55KG, inferior to the sister

55.0
113.0

,Unnamed: 0,Name,Team,Pos,Height,Weight,BMI,Birth_Place,Birthdate,Age,College,Experience,Games Played,MIN,FGM,FGA,FG%,3PM,3PA,3P%,FTM,FTA,FT%,OREB,DREB,REB,AST,STL,BLK,TO,PTS,DD2,TD3
96,97,Moriah Jefferson,SAN,G,168,55.0,19.486961,US,"August 3, 1994",23,Connecticut,1,21,514,81,155,52.3,9,20,45.0,20,27,74.1,6,31,37,92,33,2,43,191,0,0

**Now that all the requirements have been taken into account, compute the confidence interval of the average weight with a confidence level of 95%.**

In [14]:
# your code here

mean = wnba["Weight"].mean()
std =  wnba["Weight"].std(ddof = 1)
print(std)
print(mean)
n = len(wnba["Weight"])
st.norm.interval(0.955, loc = mean, scale = std/np.sqrt(n))

10.996110408297898
78.97887323943662

(77.1290320537029, 80.82871442517035)

**What can you say about these results?**

In [10]:
#your-answer-here

#For a 95% confidence interval, the weight of wnba players in this sample dataframe are in the range from 77.18 to 80.8221
# Since our sample is only from wnba players the confidence interval for the mean of weight of basketball players is really close to the sample mean, because we used a bias sample

**If your sister weighs 67kg what would you tell your grandmother in regards to her assumption?**

In [9]:
#your-answer-here

#I would say that unfortunately she doen's have enough weight to be in a women  basketball league

## Bonus: Can you plot the probability distribution of the average weight, indicating where the critical region is?

In [8]:
# your code here

# Question 2: Do female professional basketball players fail the majority of their free throws?

You do not agree with your sister when she says that most female players fail their free throws. You decide to try and estimate the percentage of players that fail more than 40% of their free throws using, you guessed it, the WNBA sample.

**How would you do it? Try and think about the requirements that your sample must satisfy in order to be used to infer the proportion of players that miss more than 40% of their free throws. Do you feel it actually fulfills those requirements? Do you need to make any assumptions?**

In [36]:
# your answer here

#STEP 1:
#Define hypotesis:

    #H0: mu(FT) >= 40%
    #H1: mu(FT) < 40%
    
#STEP 2:
#Confidence level:
alpha = 0.05
wnba["FT_miss"] = 100 - wnba["FT%"]
#STEP 3:
    #Getting the sample
wnba_sample = wnba["FT_miss"]

#STEP 4:
    #Compute Statistic:
mean = wnba_sample.mean()
std = wnba_sample.std(ddof = 1)
print(std)
n = len(wnba["FT_miss"])

#STEP 5:
    #Getting the p-value:
stat = (mean - 40)/(std/ np.sqrt(n))
p_value = st.t.sf(abs(stat),n-1)
print(p_value)
print(stat)

#STEP 6:
    #DECIDING:
    


#Since p_value is lower than alpha we do not reject

18.53615053714203
7.049350845191532e-19
-10.175942061238205

True

**Now that all the requirements have been taken into account, compute the confidence interval of the proportion with a confidence level of 95%:**

In [37]:
# your code here


# mean = wnba["FT%"].mean()
# std =  wnba["FT%"].std(ddof = 1)
# print(std)
# print(mean)
# n = len(wnba["FT%"])
# st.norm.interval(0.955, loc = mean, scale = std/np.sqrt(n))



mean = wnba["FT_miss"].mean()
std =  wnba["FT_miss"].std(ddof = 1)
print(std)
print(mean)
n = len(wnba["FT_miss"])
st.norm.interval(0.955, loc = mean, scale = std/np.sqrt(n))

18.53615053714203
24.171126760563386

(21.05284825885878, 27.28940526226799)

**What can you comment about our result? What would you tell your sister?**

In [26]:
#your-answer-here

#WE can tell that her guess werer wrong and the mean percentage of FT% made are actually between (72.710594737732, 78.94715174114121)

# Bonus: Can you plot the probability distribution of the proportion of missed free throws, indicating where the critical region is?

In [ ]:
#your code here

# Question 3: Is the average number of assists for WNBA players only higher than the average for WNBA and NBA players together?

Your brother-in-law is convinced that the average assists for female professional players is higher than the average of both female and male players combined (which is 52 for the 2016-2017 season). You would like to actually prove if this is true or not but you remember your stats teacher saying "you can't *prove* anything, you just can say that *you are not* saying foolishness".

**How would you do it? Try and think about the requirements that your sample must satisfy in order to do that. Do you feel it actually fulfills those requirements? Do you need to make any assumptions?**

In [39]:
#your-answer-here

mean_manwoman = (wnba["AST"].mean() + 52) / 2
print(mean_manwoman)

#STEP 1:
#Define hypotesis:

    #H0: mu(AST) <=  48.257
    #H1: mu(AST) > 48.257
    
#STEP 2:
#Confidence level:
alpha = 0.05

#STEP 3:
    #Getting the sample
wnba_sample = wnba["AST"]

#STEP 4:
    #Compute Statistic:
mean = wnba_sample.mean()
std = wnba_sample.std(ddof = 1)
n = len(wnba["AST"])

#STEP 5:
    #Getting the p-value:
stat = (mean - mean_manwoman)/(std/ np.sqrt(n))
p_value = st.t.sf(abs(stat),n-1)*2
print(stat)
print(p_value)

#STEP 6:
    #DECIDING:
    
p_value < alpha

#Since p_value is higher than alpha we do not reject H0 hypotesis where woman average assist is lower than the combined average of woman and man average assists

48.25704225352113
-1.0749973596241449
0.2842120087491155

False

**Use a two-tailed one-sample t-test to see if we can reject (or not) the null hypothesis with a 95% confidence level.**

In [15]:
#your code here

In [18]:
#your-answer-here

#We do not reject the H0 hypotesis since p_value is higher than alpha

**Now use a one-tailed one-sample t-test to see if we can reject (or not) the null hypothesis with a 95% confidence level.**

In [40]:
#your-answer-here

#your-answer-here

mean_manwoman = (wnba["AST"].mean() + 52) / 2
print(mean_manwoman)

#STEP 1:
#Define hypotesis:

    #H0: mu(AST) <=  48.257
    #H1: mu(FT) > 48.257
    
#STEP 2:
#Confidence level:
alpha = 0.05

#STEP 3:
    #Getting the sample
wnba_sample = wnba["AST"]

#STEP 4:
    #Compute Statistic:
mean = wnba_sample.mean()
std = wnba_sample.std(ddof = 1)
n = len(wnba["AST"])

#STEP 5:
    #Getting the p-value:
stat = (mean - mean_manwoman)/(std/ np.sqrt(n))
p_value = st.t.sf(abs(stat),n-1)
print(p_value)

#STEP 6:
    #DECIDING:
    
p_value < alpha

#Since p_value is higher than alpha we still do not reject H0 hypotesis

48.25704225352113
0.14210600437455775

False

# Bonus: Can you plot the resulting t-distribution of both tests? Indicate where the is the critical region and where does your statistic fall.**

In [ ]:
#your code here

# Bonus: Satisfying your curiosity

You finally managed to solve your family's debates over basketball! While you were doing that you started to take an interest in the normal distribution.

You read that the normal distribution is present in a lot of natural phenomenons, like blood pressure, IQ, weight and height. If, for example, we could plot the distribution of the weights of every human on the planet right now it would have the shape of a normal distribution.

In light of this you would like to see if it's possible to check if the distribution of the weights of the WNBA players is a sample distribution that comes from a population that has a normal distribution, because theoretically this should be the case.

**How would you try to demonstrate that our sample fits a normal distribution? What kind of test would you use? Would you have to make any assumptions?**

In [22]:
#your-answer-here

In [19]:
# your code here

**What are your comments in regards to the results of the test?**

In [24]:
#your-answer-here